* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 1rem;
}

main {
    display: grid;
    gap: 1rem;
}

section {
    padding: 0 1rem;
}

.list {
    list-style: none;
    display: grid;
    gap: 1ch;
}

.list a {
    color: unset;
    text-decoration: unset;

    display: block;
    width: 100%;
    border: 1px solid;
    border-radius: .25rem;
    padding: 1ch;
}

.list a:hover {
    background: #eee;
}

.party {
    display: grid;
    gap: 1ch;
}

.details, h3, article {
    margin-top: 1ch;
}

.day-location {
    margin-top: 1ch;
    font-style: italic;
}

@media (width > 600px)  {
    main {
        grid-template-columns: 1fr 1fr;
    }
}